body{
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a{
  text-decoration: none;
}

.container {
  display: flex;
}
.square {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 40px;
}

/* 여기서 transition 를 주는 이유는 애니매이션 때문이 아니라 마우스를 올렸을때 색이 변경되는 부분 떄문에 줌 */
.square span {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px solid #fff;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
  transition: 0.5s;
  animation: circle 5s linear infinite;
}

.square:nth-child(1):hover span {
  background-color: crimson;
  border: none;
}

.square:nth-child(2):hover span {
  background-color: dodgerblue;
  border: none;
}
.square:nth-child(3):hover span {
  background-color: yellowgreen;
  border: none;
}
.square span:nth-child(1) {
  animation: circle 6s linear infinite;
  opacity: 0.3;
}

.square span:nth-child(2) {
  animation: circle 4s linear infinite;
  animation-direction: reverse;
  opacity: 0.5;
}
.square span:nth-child(3) {
  animation: circle 10s linear infinite;
  opacity: 0.8;
}

.square:hover span:nth-child(1) {
  opacity: 0.3;
  /* background-color: crimson; */
}

.square:hover span:nth-child(2) {
  opacity: 0.6;
  /* background-color: dodgerblue; */

}

.square:hover span:nth-child(3) {
  opacity: 0.8;
  /* background-color: yellowgreen; */

}

.square div {
  /* border:1px solid red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
  color: #fff;
}

.square div a {
  color: #fff;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
  border: 1px solid #fff;
  padding: 8px;
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}