@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  margin: 0;
  background-color: #fff;
}


.skill-progress {
  width: 500px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skill-progress h1 {
  text-align: center;
}
.item {}
/* 자식 속성에 float 를 주면 부모요소는 높이 값을 잃어버린다. 
이때, overflow: hidden; 를 하면 , 높이 값을 찾아준다. */
/* overflow: hidden 은   콘텐츠가 요소의 크기를 초과할 경우 초과된 부분을 잘라내는 동작을 지정*/
.item p {
  overflow: hidden;
  /* border: 1px solid red; */
  margin-bottom: 2px;
}

.item p span:nth-child(1) {
  float: left;
}
.item p span:nth-child(2) {
  float: right;
}
.progress {
  border:  1px solid #6cd4c4;
  padding: 5px;
  border-radius: 3px;

}
.progress-level {
  height: 10px;
  /* linear-gradient(방향, 시작색상, 종료색상) */
  background: linear-gradient(to right, crimson, gold);
  /* animation-name: ani;
  animation-duration: 1s;
  animation-iteration-count: 1;  < - 는 기본값이고, infinite 가 이거임 ! */
  /* animation: ani 1s linear infinite; */
  animation: ani 1s;
  animation-fill-mode: both; /* 100% 에서 멈춰 ! */
}

@keyframes ani {
  0% {
    width: 0;
  }
}

.skill-progress .item:nth-of-type(1) .progress-level{
  animation-delay: 0s;
}
.skill-progress .item:nth-of-type(2) .progress-level{
  animation-delay: 0.2s;
}
.skill-progress .item:nth-of-type(3) .progress-level{
  animation-delay: 0.4s;
}
.skill-progress .item:nth-of-type(4) .progress-level{
  animation-delay: 0.6s;
}
.skill-progress .item:nth-of-type(5) .progress-level{
  animation-delay: 0.8s;
}