body {
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  color: #222;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a{
  text-decoration: none;
  color: #222;
}

.gnb {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /* 앞에는 상하 뒤에는 좌우 */
  padding:50px 30px;

  /* flex 를 사용하는 방법 */
  display: flex;
}

/* 다음 방법을 사용하지 않고, flex 를 사용하는 방법 */
/* .gnb li {
  border: 1px solid red;
  box-sizing: border-box;
  float: left;
  width: 120px; <-- 600 / 5 를 한 값
  text-align: center;
} */
.gnb li {
  flex: 1;
  text-align: center;
}
.gnb li a {
  font-size: 14px;
  position: relative;
}

.gnb li a:before{
  content: '';
  position: absolute;
  background-color: dodgerblue;
  height: 2px;
  width: 0px;
  bottom: -10px;
  transition: 0.5s;
  left: 50%;
  transform: translateX(-50%);
}
/* a 에 마우스를 올렸을때 before 를 어떻게 할거야 */
.gnb li a:hover:before {
  width: 100%;
}