/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');


/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a{
  text-decoration: none;
}

.item { 
  /* border: 1px solid red; */
  width: 300px;
  margin-bottom: 10px;
  position: relative;
}
.item input[type=text],
.item input[type=email],
.item input[type=tel] {
  border: 1px solid lightgray;
  height: 40px;
  width: inherit;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  padding-left: 50px;
  outline: none;
  transition: 0.3s;
}

.item .fa{
  position: absolute;
  top: 0;
  left: 0;
  /* color: grey; */
  color: #fff;
  background-color: gray;
  /*border-radius 에 각각 모서리를 다르게 주고 싶으면 시계방향으로 상우하좌 */
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  width: 40px;
  height: 40px;
  /* border: 1px solid blue; */
  text-align: center;
  line-height: 40px;
}

/* input 에 클릭이 된다면 자기 자신을 어떻게 할거야 
   focus 는 input 에만 사용할 수 있는 가상 클래스  */
.item input:focus{
  border: 1px solid dodgerblue;
  box-shadow: 0 0 5px dodgerblue;
}

/* 인접 선택자  
  input 에 foucus 되었을때, 바로 아래 인접해있는 fa  */
.item input:focus + .fa {
  /* color: dodgerblue; */
  background-color: dodgerblue;
}

.item input:focus::placeholder {
  visibility: hidden;
}