body {
  color: #222;
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
}

a{
  color: #222;
  text-decoration: none;
}
.items {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.item {
  width: 300px;
  height: 250px;
  display: inline-block;
  position: relative;
  margin: 10px;
}
/* front 와 back 모두 absolute 를 주면 두개가 겹치게 된다. 이때, z-index: 1 을 front 에 줘서 제일 위에 오게 하거나, z-index:-1 을 back 에 줘서 제일 뒤로 보낸다. */
.front, 
.back {
  position: absolute;
  transition: 0.5s;
  top:0;
}


.front {
  background-color: blanchedalmond;
  text-align: center;
  height: inherit;
  width: 100%;
  z-index: 1;
}

.item:hover .front img {
  animation: ani 1.8s linear infinite;
}
.front h2 {
  margin-top: 0;
}
.back {
  background-color: #e4e3e395;
  height: inherit;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
}
.back a {
  background-color: yellowgreen;
  color: #fff;
  padding: 5px 15px;
  border-radius: 13px;
}
.back a:hover {
  background-color: #222;
}
.container {
  display: flex;
  justify-content: center;
}

/* 여기서 front , back 에 top 50씩을 줘서 위 아래로 이동하게 했고 , 위에 transtion 을 줬는데도 부드럽게 움직이지 않는 이유는 시작점에 top : 0 를 해주지 않아서 이다. 0 을 지정해주면 transition 이 올바르게 적용된다.  */
.item:hover .front {
  top: -50%
}
.item:hover .back {
  top: 50%;
  opacity: 1;
}

@keyframes ani {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}