/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
 
.tab-inner{
  border: 1px solid red;
  width: 300px;
  height: 350px;
}
input[name = tabmenu]{
  display: none;
}
.slide{
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.slide-inner{
  position: absolute;
  width: 900px;
  /* 900px 로 줬을떄 크기는 딱맞지만 기본적으로 약간의 마진이 있기 떄문에 이는 font-size를 0 으로 줘서 잡아준다  */
  font-size: 0;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.btn{
  text-align: center;
  margin-top: 10px;
}
.btn label{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border-radius: 50%;
  cursor: pointer;
}

input[id=tab1]:checked ~.slide .slide-inner{
  left: 0;
}
input[id=tab2]:checked ~.slide .slide-inner{
  left: -300px;
}
input[id=tab3]:checked ~.slide .slide-inner{
  left: -600px;
}

input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3] {
  background-color: crimson;
}